.App {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-image: url(seamless-starfield-texture.jpg);
  background-size: contain;
}

.planet {
  flex: 1;
}

.controls-container {
  flex: 2;
  margin-left: 20%;
  height: 750px;
}