{
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "debug": true,
        "targets": {
          "browsers": [
            "last 2 chrome versions",
            "last 2 firefox versions",
            "last 2 safari versions",
            "last 2 ios versions",
            "last 2 chromeandroid versions"
          ]
        }
      }
    ]
  ]
}
